/* html, body {
    height: 100%;
} */

body {
    color: white;
    background: black;
    font-family: "Space Grotesk", sans-serif;
}

.mainContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 64px;
}

.dataContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
}

.header {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
}

.bio {
    text-align: center;
    color: rgb(165, 164, 164);
    margin-top: 16px;
}

.mainButton {
    letter-spacing: 2px;
    font-family: "Space Grotesk", sans-serif;
    cursor: pointer;
    margin-top: 16px;
    padding: 8px;
    border: 0;
    border-radius: 5px;
    color: black;
}

.balanceText {
    margin-top: 16px;
    font-size: 15px;
    padding: 8px;
    text-align: center;
    vertical-align: center;
}

#balance {
    color: orange;
}

.boringLink {
    text-decoration: none;
    color: inherit;
}
